.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;

  background-image: url('http://baodongnai.com.vn/dataimages/201812/original/images2172916_1.jpg');
  background-position: center;
  background-size: cover;


  &__title {
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;

  }
}